body {
  font-family: Arial, sans-serif;
  background: #f4f4f4;
  padding: 20px;
  color: #333;
}

h1 {
  text-align: center;
}

.semestre {
  background: white;
  border-left: 5px solid #0077cc;
  padding: 10px;
  margin-bottom: 10px;
  box-shadow: 0 0 5px rgba(0,0,0,0.1);
}
